<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Action</title>
    </head>

    <body>
        <div class="individu">
            
            <center>
                <table rules=all border=3 style="width:50%">
                <h2><font size=5><u> Description de l'individu </u></font><br/></h2>
            

                <tr>
                    <td><b><font color=blue>NOM</font></b></td>
                    <td><b><font color=blue>PRENOM</font></b></td>
                    <td><b><font color=blue>EMAIL</font></b></td>
                    <td><b><font color=blue>NUM</font></b></td>
                    <td><b><font color=blue>ANNUAIRE</font></b></td>
                </tr>

                <tr>
                    <td>{{individu.NOM}}</td>
                    <td>{{individu.PRENOM}}</td>
                    <td>{{individu.EMAIL}}</td>
                    <td>{{individu.NUM}}</td>
                    <td>{{individu.ANNUAIRE}}</td>
                </tr>

                </table>

                
            </center>
            
        </div>

    </body>

</html>