<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Detail individu</title>
        <link rel="stylesheet" href="{% static 'css/individu.css' %}">
    </head>

    <body>

        <div class="haut_page">
            <center>
                <h1>Detail de l'individu</h1>
                
                <a href="{% url 'accueil'%}">Accueil</a><br>
            </center>
        </div>

        <div>
            
            <center>

                <table rules=all border=3 style="width:50%">
                <h2><font size=5><u> Description de l'individu </u></font><br/></h2>

                <tr>
                    <td><b><font color=blue>NOM</font></b></td>
                    <td><b><font color=blue>PRENOM</font></b></td>
                    <td><b><font color=blue>EMAIL</font></b></td>
                    <td><b><font color=blue>NUM</font></b></td>
                    <td><b><font color=blue>ANNUAIRE</font></b></td>
                    <td><b><font color=blue>GROUPE</font></b></td>
                    <td><b><font color=blue>STATUT</font></b></td>
                </tr>

                <tr>
                    <td>{{individu.NOM}}</td>
                    <td>{{individu.PRENOM}}</td>
                    <td>{{individu.EMAIL}}</td>
                    <td>{{individu.NUM}}</td>
                    <td>{{individu.ANNUAIRE}}</td>
                    <td>{{individu.GROUPE}}</td>
                    <td>{{individu.STATUT}}</td>
                </tr>

                </table>

                <br>
                
                {% if user.is_authenticated %}
                    <a href="{% url 'ModifIndividu' pk=individu.pk %}">Modifier</a>
                {% endif %}

            </center>
            
        </div>

    </body>

</html>