<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Liste des groupes</title>
        <link rel="stylesheet" href="{% static 'css/individu.css' %}">
    </head>

    <body>

        <div class="haut_page">
            <center>

                <h1>Gestionnaire</h1>

                <a href="{% url 'accueil'%}">Accueil</a><br><br>

            </center>
        </div>

    <br/>
    <br/>
         
        <div>
            <center>

                <table rules=all border=3 style="width:50%">
                <h2><font size=5><u> Liste des groupes </u></font><br/></h2>
            

                <tr>
                    <td><b><font color=blue>ID</font></b></td>
                    <td><b><font color=blue>ANNEE</font></b></td>
                    <td><b><font color=blue>FILIERE</font></b></td>
                    <td><b><font color=blue>NOM</font></b></td>
                </tr>

                {% for groupe in groupes %} 
                <tr>
                    <td>{{groupe.ID}}</td>
                    <td>{{groupe.ANNEE}}</td>
                    <td>{{groupe.FILIERE}}</td>
                    <td><a href="{% url 'groupe_detail' pk=groupe.pk %}">{{groupe.NOM}}</a></td>
                </tr>
                {% endfor %}

                </table>
                <br>
                {% if user.is_authenticated %}        
                    <a href="{% url 'NVgroupe' %}"> +Ajouter un Groupe </a>
                {% endif %}

            </center>
        </div>
        
        <img src="logo.png" width="270" height="100" id="logo">
            

    </body>

</html>