<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>First page</title>
        <link rel="stylesheet" href="{% static 'css/individu.css' %}">
    </head>

    {% if user.is_authenticated %}
        <a href="{% url 'NVindividu' %}"></a>
    {% endif %}

    <body>

        <div class="haut_page">
            <center>
                <h1>Gestionnaire</h1>
                <a href="{% url 'NVindividu' %}"> +Ajout Individu </a>
            </center>
        </div>

    <br/>
    <br/>
         
        <div>
            <center>
                <table rules=all border=3 style="width:50%">
                <h2><font size=5><u> Liste des individus </u></font><br/></h2>
            

                <tr>
                    <td><b><font color=blue>NOM</font></b></td>
                    <td><b><font color=blue>PRENOM</font></b></td>
                </tr>

                {% for individu in individus %} 
                <tr>
                    <td><a href="{% url 'Detail' pk=individu.pk %}">{{individu.NOM}}</a></td>
                    <td>{{individu.PRENOM}}</td>
                </tr>
                {% endfor %}

                </table>
            </center>
        </div>
        
        <img src="logo.png" width="270" height="100" id="logo">
            

    </body>

</html>