<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>NV groupe</title>
        <link rel="stylesheet" href="{% static 'css/individu.css' %}">
        
    </head>

    <body>

        <div class="haut_page">
            <center>
                <h1>Gestionnaire</h1>
            </center>
        </div>

        <div>
            <center>

            <a href="{% url 'accueil'%}">Accueil</a><br>

            {% block content %}
            <form method="POST">{% csrf_token %}        
                {{ form.as_p }}
                <button type="submit">Enregistrer</button>
            </form>
            {% endblock %}

            </center>
        </div>    

    </body>

</html>